@font-face {
    font-family: 'sancreek';
    src: url('../font/Sancreek/Sancreek-Regular.ttf');

}
*{ margin: 0; padding: 0;}


html {
    height: 100%;
}


body{
    height: 100%;
    text-rendering: optimizelegibility;
    overflow-y: hidden;
    overflow: hidden;
    background: #42C0FC;

}





#clouds{
    padding: 100px 0px 0px 0px;

}

/*Time to finalise the cloud shape*/
.cloud {
    width: 210px; height: 72px;
    background: #fff;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius:150px;
    position: relative; 
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -19px;
    left: 25px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 125px;
    height: 124px;
    top: -61px;
    left: auto;
    right: 19px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px; top: -200px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px; top: -250px;

    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -150px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
100% {margin-left: -1000px;}
}



/*************CLOUD ENDS**************/

.levels{
    position: relative;
    left:158px;
}
.levels li {
    padding: 35px;
    color: white;
}
.levels li:first-child{
    padding: 0px;

}

.level_container{
    margin-top: 160px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 180px;

}





@font-face {
    font-family: 'xyz';
    src: url('../font/OogieBoogie.ttf');

}
.modal{
    display:none; 
    background: #42C0FC;
    box-shadow: 0px 0px 0px 9px white;
    border-radius: 16px;
    width: 400px;
    height: 400px;
}

#modal_inst{
    width:500px;
    height:440px;
}
#modal_setting{
    width: 500px;
    height: 300px;
}

.btn_close_container{
    float: right;
    position: absolute;
    right: -36px;
    top: -38px;
}
.btn_close {
    background-color: #FFFFFF;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    display: inline-block;
}
.btn_close_3d {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    cursor: pointer;
    top: 5px;
    position: relative;
    /*background-image: -webkit-linear-gradient(-56deg, #D8F3FE 7%, #2693C7 84%);*/


    background-image: linear-gradient(-60deg, #D8F3FE 0%, #42C0FC 60%);
    background-image: -webkit-linear-gradient(-60deg, #D8F3FE 0%, #42C0FC 60%);
    background-image: -moz-linear-gradient(-60deg, #D8F3FE 0%, #42C0FC 60%);
    background-image: -o-linear-gradient(-60deg, #D8F3FE 0%, #42C0FC 60%);

    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    /*box-shadow: 0px 5px 4px #6F6F6F, 6px 7px 17px #6B6A6A;*/
    box-shadow: 1px 2px 3px #6F6F6F, 2px 2px 2px -3px #6B6A6A;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    text-align: center;
    font-family: xyz;
    font-size: 18pt;
    color: white;
    overflow: hidden;
}
.btn_close_3d:active {
    top: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.btn_close_3d img{
    margin-top: 7px;
}

.con_settings{
    padding-top: 40px;
}

.p_con{
    display: none;
}



.output {

    font-size: 18pt;

    margin-left: 5px;
    line-height: 18pt;

    font-family: xyz;
    color: white;
    letter-spacing: 8px
}

.slider-volume {
    width: 130px;
    display: inline-block;
}


/******************************************/
/******************************************/
/****************Game Starts****************/
/******************************************/
/******************************************/

::selection
{
    background: transparent;
}
::-moz-selection
{
    background: transparent;
}




.content{
    position: relative;
    top:-400px;
}




.hangers .container_button{
    width: 92px;
    height: 92px;   
}

.hangers .btn3d{
    width: 81px;
    height: 81px;
}
.hangers .btn3d:active{
    top: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.hangers .btn3d-img{
    margin-top: 8px;
}

.hangers{
    list-style: none;
    height: 0px;

}

.hangers li{
    display:inline;
    margin: 90px;
}


.submenu{
    margin-left: -10px !important;
}
.righty{
    margin-left: 10px !important;
}
.submenu li {
    /*padding: 33px;*/
    color: white;
}
.submenu li:first-child{
    padding: 0px;

}





/********************************************/
/********************************************/
/*************NAVIGATOR STARTS**************/
/********************************************/
/********************************************/

.navigator{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 84px;
    height: 55px;
    overflow: hidden;
}
.navigator a img{
    width: 28px;
    position: relative;
    top: 3px;
}
.concon{
    background: rgba(0,0,0,.5);
    border-radius: 30px;
    height: 36px;width: 36px;
    text-align: center;
    position: absolute;
    z-index: 3;
}
.concon-lg{
    right: 4px;
}
.navigator a .lg{
    width: 22px;

    top: 7px;
}
.hiden{
    position: absolute;
    color: white;
    width: 36px;
    text-align: center;
    top: -50px;
    font-size: 13px;
    z-index: 1;
    text-shadow: 0px 0px 2px black;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.hiden-lg{
    right: 4px;
}
.concon:hover + .hiden{
    top:38px;
}

/********************************************/
/********************************************/
/*************NAVIGATOR ENDS****************/
/********************************************/
/********************************************/

